doctype html
html
  head
    meta(name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=8.0,width=device-width,user-scalable=yes")
    title= title
    link(rel='stylesheet',
      href='/packages/darkly/bootstrap.min.css',
      integrity='sha384-RVGPQcy+W2jAbpqAb6ccq2OfPpkoXhrYRMFFD3JPdu3MDyeRvKPII9C82K13lxn4',
      crossorigin='anonymous'
    )
    link(rel='stylesheet', 
      href='/packages/bootstrap-toggle-2.2.2/bootstrap-toggle.min.css',
      integrity='sha384-yBEPaZw444dClEfen526Q6x4nwuzGO6PreKpbRVSLFCci3oYGE5DnD1pNsubCxYW'
      crossorigin='anonymous'
    )
    script(src='/packages/jquery-3.2.1/jquery.min.js',
      integrity='sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT',
      crossorigin='anonymous'
    )
    script(src='/packages/popper-1.12.9/popper.min.js',
      integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' 
      crossorigin='anonymous'
    )
    script(src='/packages/bootstrap-4.0.0/js/bootstrap.min.js',
      integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl',
      crossorigin='anonymous'
    )
    script(src='/packages/bootstrap-toggle-2.2.2/bootstrap-toggle.min.js',
      integrity='sha384-cd07Jx5KAMCf7qM+DveFKIzHXeCSYUrai+VWCPIXbYL7JraHMFL/IXaCKbLtsxyB'
      crossorigin='anonymous'
    )
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
      a.navbar-brand(href='/') Picture Reader
      block navigation
    block content
