extends layout


block navigation
  div.d-inline-block.mr-auto.ml-auto.title= data.name
  div.d-inline-block
    button.btn#mainMenuItem
      i.material-icons menu

block content
  script.
    const picturereaderdata = !{JSON.stringify(data)}
  - const parentPath = `/show${data.parent}`
  div.container-fluid.p-0#mainImage
    img(src=data.current style='display: none;')
  div.container.bg-light#mainMenu(style='display: none;')
    - hasPictures = data.pictures.length > 0 ? 'has-pictures' : 'no-pictures'
    div
      ul.nav.nav-tabs.bg-light(role="tablist")
        li.nav-item
          a.nav-link.active#actions-tab(data-toggle="tab" href="#actions" role="tab") Actions
        li.nav-item
          a.nav-link#folders-tab(data-toggle="tab" href="#folders" role="tab") Folders
        li.nav-item
          a.nav-link#pictures-tab(data-toggle="tab" href="#pictures" role="tab") Pictures
        li.nav-item
          a.nav-link#bookmarks-tab(data-toggle="tab" href="#bookmarks" role="tab") Bookmarks
        li.nav-item
          a.nav-link#settings-tab(href="/settings" role="tab") Settings
    div.menu-block
      div.tab-content
        div.tab-pane.active.action-block#actions(role="tabpanel")
          - 
            const actionRows = [
              [
                {
                  name: 'First',
                  image: 'skip_previous'
                }, {
                  name: 'Previous',
                  image: 'fast_rewind'
                }, {
                  name: 'Random',
                  image: 'shuffle'
                }, {
                  name: 'Bookmark',
                  image: 'bookmarks'
                }, {
                  name: 'Next',
                  image: 'fast_forward'
                }, {
                  name: 'Last',
                  image: 'skip_next'
                }
              ], [
                {
                  name: 'Previous Folder',
                  image: 'first_page'
                }, {
                  name: 'Previous Unseen',
                  image: 'chevron_left'
                }, {
                  name: 'Next Unseen',
                  image: 'chevron_right'
                }, {
                  name: 'Next Folder',
                  image: 'last_page'
                }
              ], [
                {
                  name: 'Mark All Seen',
                  image: 'check_box'
                }, {
                  name: 'Fullscreen',
                  image: 'fullscreen'
                }, {
                  name: 'Parent Folder',
                  image: 'folder'
                }, {
                  name: 'Mark All Unseen',
                  image: 'check_box_outline_blank'
                }
              ]
            ]
          each actionRow in actionRows
            div.d-flex.justify-content-center 
              each action in actionRow
                div(class=`card d-inline-block m-2 action-${action.name.replace(/\s+/g, '').toLowerCase()}`)
                  div.card-img-top
                    i.material-icons= action.image
                  div.card-body
                    h5.card-title.text-center= action.name
        div.tab-pane#folders(role="tabpanel")
          h3 Folders
          if data.name !== ''
            h4
              a(href=parentPath) 
                i.material-icons folder
                span Parent
          mixin folderCard(folder)
            div.card.d-inline-block.m-2
              a(class=`${folder.seenCount === folder.imageCount ? 'text-success' : 'text-primary'}` href=folder.path)
                if folder.current
                  img.card-img-top(src=folder.current alt=folder.name)
                else
                  div.card-img-top
                    i.material-icons folder
              div.card-body
                h5.card-title
                  a(class=`${folder.seenCount === folder.imageCount ? 'text-success' : 'text-primary'}` href=folder.path)= folder.name
                div.progress
                  - const text = `${folder.seenCount}/${folder.imageCount}`
                  div(class=`progress-bar ${folder.seenCount === folder.imageCount ? 'bg-success' : ''}` role="progressbar" style=`width: ${folder.percent}%` aria-valuenow=`${folder.percent}` aria-valuemin="0" aria-valuemax="100")= text
          if data.folders.incomplete.length > 0
            h4 
              i.material-icons folder
              span Incomplete
            each folder in data.folders.incomplete
              +folderCard(folder)
          if data.folders.complete.length > 0
            h4
              i.material-icons folder
              span Complete
            each folder in data.folders.complete
              +folderCard(folder)
        div.tab-pane#pictures(role="tabpanel")
          h3 Pictures
          div.d-fled.flex-wrap.justify-content-center.w-100
            each picture, index in data.pictures
              div(class=`card d-inline-block m-2 ${picture.seen ? 'text-success' : 'text-primary'}`, data-index=index)
                div.card-body
                  h5.card-title
                    span 
                      i.material-icons photo
                    span= picture.name
        mixin bookmarkCard(bookmark)
          div.card.d-inline-block.m-2(data-link=bookmark.link)
            a(href=bookmark.link)
              img.card-img-top(src=bookmark.path alt=bookmark.name)
            div.card-body
              h5.card-title
                a(href=bookmark.link)= bookmark.name
            div.card-footer
              button.remove.btn.btn-danger(type="button" aria-label="Remove") Remove Bookmark
        div.tab-pane#bookmarks(role="tabpanel")
          h3 Bookmarks
          if bookmarks.current.length > 0
            hr
            h4 Current Folder
            div.d-fled.flex-wrap.justify-content-center.w-100
              each bookmark in bookmarks.current
                +bookmarkCard(bookmark)
          if bookmarks.children.length > 0
            hr
            h4 Child Folders
            div.d-fled.flex-wrap.justify-content-center.w-100
              each bookmark in bookmarks.children
                +bookmarkCard(bookmark)
          if bookmarks.other.length > 0
            hr
            h4 Other Folders
            div.d-fled.flex-wrap.justify-content-center.w-100
              each bookmark in bookmarks.other
                +bookmarkCard(bookmark)
          hr
  div.fixed-bottom.text-center.status-bar.text-border
    span.float-left.left  
    span.center 
    span.float-right.right 
  script(src='/javascripts/index.js')
