extends layout


block navigation
  div.d-inline-block.mr-auto.ml-auto.title= data.name
  div.d-inline-block
    button.btn#mainMenuItem
      i.material-icons menu

block content
  -
    const encode = path => {
      const mapper = str => encodeURIComponent(str).replace(/#/g, '%35')
      return path.split('/').map(mapper).join('/')
    }
  script.
    const picturereaderdata = !{JSON.stringify(data)}
  - const parentPath = `/show${data.parent}`
  div.container-fluid.p-0#mainImage
    img(src=data.current style='display: none;')
  div.container.bg-light#mainMenu(style='display: none;')
    - hasPictures = data.pictures.length > 0 ? 'has-pictures' : 'no-pictures'
    div
      ul.nav.nav-tabs(role="tablist")
        li.nav-item
          a.nav-link.active#actions-tab(data-toggle="tab" href="#actions" role="tab") Actions
        li.nav-item
          a.nav-link#folders-tab(data-toggle="tab" href="#folders" role="tab") Folders
        li.nav-item
          a.nav-link#pictures-tab(data-toggle="tab" href="#pictures" role="tab") Pictures
        li.nav-item
          a.nav-link#bookmarks-tab(data-toggle="tab" href="#bookmarks" role="tab") Bookmarks
        li.nav-item
          a.nav-link#settings-tab(href="/settings" role="tab") Settings
    div.menu-block
      div.tab-content
        div.tab-pane.active.action-block#actions(role="tabpanel")
          - 
            const actionRows = [
              [
                {
                  name: 'First',
                  image: 'skip_previous'
                }, {
                  name: 'Previous',
                  image: 'fast_rewind'
                }, {
                  name: 'Random',
                  image: 'shuffle'
                }, {
                  name: 'Bookmark',
                  image: 'bookmarks'
                }, {
                  name: 'Next',
                  image: 'fast_forward'
                }, {
                  name: 'Last',
                  image: 'skip_next'
                }
              ], [
                {
                  name: 'Previous Folder',
                  image: 'first_page'
                }, {
                  name: 'Previous Unseen',
                  image: 'chevron_left'
                }, {
                  name: 'Next Unseen',
                  image: 'chevron_right'
                }, {
                  name: 'Next Folder',
                  image: 'last_page'
                }
              ], [
                {
                  name: 'Mark All Seen',
                  image: 'check_box'
                }, {
                  name: 'Fullscreen',
                  image: 'fullscreen'
                }, {
                  name: 'Mark All Unseen',
                  image: 'check_box_outline_blank'
                }
              ]
            ]
          each actionRow in actionRows
            div.d-flex.justify-content-center 
              each action in actionRow
                div(class=`card d-inline-block m-2 action-${action.name.replace(/\s+/g, '').toLowerCase()}`)
                  div.card-img-top
                    i.material-icons= action.image
                  div.card-body
                    h5.card-title.text-center= action.name
        div.tab-pane#folders(role="tabpanel")
          h3 Folders
          div.d-fled.flex-wrap.justify-content-center.w-100
            if data.name !== ''
              div.card.d-inline-block.m-2
                a(href=parentPath)
                  div.card-img-top
                    i.material-icons folder
                div.card-body
                  h5.card-title
                    a(href=parentPath) Parent
            each folder in data.folders
              div.card.d-inline-block.m-2
                a(href=encode(folder.path))
                  if folder.current
                    img.card-img-top(src=encode(folder.current) alt=folder.name)
                  else
                    div.card-img-top
                      i.material-icons folder
                div.card-body
                  h5.card-title
                    a(href=encode(folder.path))= folder.name
                  div.progress
                    - const width = `width: ${folder.percent}%`
                    div.progress-bar(role="progressbar" style=width aria-valuenow=folder.percent aria-valuemin="0" aria-valuemax="100")= folder.imageCount
        div.tab-pane#pictures(role="tabpanel")
          h3 Pictures
          div.d-fled.flex-wrap.justify-content-center.w-100
            each picture, index in data.pictures
              -const cssclass = picture.seen ? 'seen' : 'unseen' 
              div(class=`card d-inline-block m-2 ${cssclass}`, data-index=index)
                div.card-body
                  h5.card-title
                    span 
                      i.material-icons photo
                    span= picture.name
        div.tab-pane#bookmarks(role="tabpanel")
          h3 Bookmarks
          div.d-fled.flex-wrap.justify-content-center.w-100
            each bookmark in bookmarks 
              div.card.d-inline-block.m-2(data-link=bookmark.link)
                a(href=bookmark.link)
                  img.card-img-top(src=bookmark.path alt=bookmark.name)
                div.card-body
                  h5.card-title
                    a(href=bookmark.link)= bookmark.name
                div.card-footer
                  button.remove.btn.btn-danger(type="button" aria-label="Remove") Remove Bookmark
  div.fixed-bottom.text-center.status-bar.text-border
    span.float-left.left  
    span.center 
    span.float-right.right 
  script(src='/javascripts/index.js')
