extends layout

block centercontent
  mixin ImageBlock(data, distance, title)
    div.d-inline-block.w-50
      div
        h2.normal &nbsp;
        h2.selected(style='display: none;') Selected...
      div 
        b Name: 
        span= data.name
      div 
        b Folder: 
        span= data.folder
      div 
        b Format: 
        span= data.format
      div 
        b Size: 
        span= data.filesize
      div 
        b Dimensions: 
        span= data.width
        span x
        span= data.height
      div
        if distance != null
          b Perceptual Distance: 
          span= data.distance
        else 
          span &nbsp;
        
    div.d-inline-block.w-50
      div.image.d-block
        a(href=data.fullsize target='_blank')
          image.d-block.mx-auto(src=data.preview style=`width: ${preview.width}px; height: ${preview.height}px; object-fit: contain;`)
  h1(data-id=data.id)= `Similar Images to ${data.name}`
  div.d-inline-block.w-100
    div.image.d-block
      a(href=data.fullsize target='_blank')
        image.d-block.mx-auto(src=data.path style=`width: 640px; height: 480px; object-fit: contain;`)
    div.details
      div 
        b Name: 
        span= data.name
      div 
        b Folder: 
        span= data.folder
      div 
        b Format: 
        span= data.format
      div 
        b Size: 
        span= data.filesize
      div 
        b Dimensions: 
        span= data.width
        span x
        span= data.height
  hr
  div
    div.d-inline-block.w-50
      button.btn.btn-primary.d-block.w-50.mx-auto.btn-mark-selected Mark Selected False Positive
    div.d-inline-block.w-50
      button.btn.btn-danger.d-block.w-50.mx-auto.btn-delete-selected Delete Selected
  div.mt-2.mb-2
    ul.list-group
      each image in data.siblings
        li.list-group-item(data-id=image.id)
          +ImageBlock(image, image.distance, '')
  script.
    $('.list-group-item').click(function() {
      $(this).toggleClass('active').find('h2').toggle()
    })
    $('.btn-mark-selected').click(()=>{
      const fingerprint = $('h1').data('id')
      const selected = Array.prototype.slice.apply($('.list-group-item.active')).map( e=> $(e).data('id'))
      console.log({fingerprint, selected})
      $('div.modal .btn-primary').on('click', () => $.ajax({
        method: 'POST',
        url: '/settings/similarImages/falsePositives',
        contentType: 'application/json',
        data: JSON.stringify({fingerprint,selected}),
        processData: false,
        complete: () => window.location += '/../..'
      }))
      $('div.modal').on('hidden.bs.modal', () => $('div.modal .btn-primary').off('click'))
      $('div.modal').modal('show')
    })
    $('.btn-delete-selected').click(()=>{
      const fingerprint = $('h1').data('id')
      const selected = Array.prototype.slice.apply($('.list-group-item.active')).map( e=> $(e).data('id'))
      console.log({fingerprint, selected})
      $('div.modal .btn-primary').on('click', () => $.ajax({
        method: 'POST',
        url: '/settings/similarImages/deleteImages',
        contentType: 'application/json',
        data: JSON.stringify({fingerprint,selected}),
        processData: false,
        complete: () => window.location += '/../..'
      }))
      $('div.modal').on('hidden.bs.modal', () => $('div.modal .btn-primary').off('click'))
      $('div.modal').modal('show')
    })